%h1 Sign In

= form_with(url: session_path, local: true) do |f|

  = f.label :username
  = f.text_field :username, autofocus: true, class: "form-control"

  = f.label :password
  = f.password_field :password, class: "form-control"

  = f.submit "Sign In", class: "btn btn-primary margin-top-bottom"
