= form_with(model: user, local: true) do |f|

  = f.label :username
  = f.text_field :username, autofocus: true, class: "form-control"

  = f.label :password
  = f.password_field :password, class: "form-control"

  = f.label :password_confirmation, "Confirm Password"
  = f.password_field :password_confirmation, class: "form-control"

  = f.submit class: "btn btn-primary margin-top-bottom"
