= form_with(model: character, local: true) do |f|

  = f.label :name
  = f.text_field :name, autofocus: true, class: "form-control"

  = f.label :allegiance
  = f.text_field :allegiance, class: "form-control"

  = f.label :level, class: "dropdown"
  = f.select :level, Array(1..10), class: "form-control"

  = f.label :class_option, "Class", class: "dropdown"
  = f.select :class_option, ["Knight", "Archer", "Mage"], class: "form-control"
  %br
  = f.label :current_health, "Health"
  = f.number_field :current_health, class: "form-control"

  -# .btn-group
  -#   .btn.btn-outline-secondary Personal Core
  -#   .btn.btn-outline-secondary Build

  = f.submit class: "btn btn-primary submit-button"
  %br

  %h4 Superficial (1/2)
  = f.label :age
  = f.text_field :age, class: "form-control"

  = f.label :sex
  = f.text_field :sex, class: "form-control"

  = f.label :height
  = f.text_field :height, class: "form-control"

  = f.label :weight
  = f.text_field :weight, class: "form-control"

  = f.label :body_type, "Body Type"
  = f.text_field :body_type, class: "form-control"

  = f.label :skin
  = f.text_field :skin, class: "form-control"

  %h4 Superficial (2/2)
  = f.label :race_ethnicity, "Race and Ethnicity"
  = f.text_field :race_ethnicity, class: "form-control"

  = f.label :eyes
  = f.text_field :eyes, class: "form-control"

  = f.label :hair
  = f.text_field :hair, class: "form-control"

  = f.label :distinguishing_features, "Distinguishing Features"
  = f.text_field :distinguishing_features, class: "form-control"

  = f.label :outfit, "Typical Outfit"
  = f.text_field :outfit, class: "form-control"

  = f.label :carries, "Generally Carries"
  = f.text_field :carries, class: "form-control"

  %h4 Lifestyle
  = f.label :species, class: "dropdown"
  = f.select :species, ["Human", "Elf", "Dwarf"], class: "form-control"
  %p
    Human:
    %ul
      %li +1 Drive
      %li Talented at Regulating
      %li Flawed at Impressing
      %li Unwavering Will
  %p
    Elf:
    %ul
      %li +1 Coordination
      %li Talented at Maneuvering
      %li Flawed at Destroying
      %li Elven Grace
  %p
    Dwarf:
    %ul
      %li +1 Athleticism
      %li Talented at Gripping
      %li Flawed at Deciphering
      %li Warrior's Instinct

  = f.label :family_type, "Family", class: "dropdown"
  = f.select :family_type, ["Noble", "Middle Class", "Poor"], class: "form-control"
  %p
    Noble:
    %ul
      %li Talented at Leading
  %p
    Middle Class:
    %ul
      %li Talented at Empathizing
  %p
    Poor:
    %ul
      %li Talented at Improvising
  = f.label :family_description, "Family Description"
  = f.text_area :family_description, class: "form-control"

  = f.label :occupation_type, "Occupation", class: "dropdown"
  = f.select :occupation_type, ["Soldier", "Hunter", "Scholar", "Merchant", "Farmer"], class: "form-control"
  %p
    Soldier:
    %ul
      %li Talented at Enduring
      %li Battle Formation
  %p
    Hunter:
    %ul
      %li Talented at Noticing
      %li Surprise Takedown
  %p
    Scholar:
    %ul
      %li Talented at Recalling
      %li Expert Analysis
  %p
    Merchant:
    %ul
      %li Talented at Lying
      %li Strategic Negotiation
  %p
    Farmer:
    %ul
      %li Talented at Creating
      %li Eye for Botany
  = f.label :occupation_description, "Occupation Description"
  = f.text_area :occupation_description, class: "form-control"

  = f.label :backstory_type, "Backstory", class: "dropdown"
  = f.select :backstory_type, ["Successful", "Peaceful", "Adventurous", "Tragic"], class: "form-control"
  %p
    Successful:
    %ul
      %li +1 Knowledge
      %li +1 Sociability
      %li Talented at Debating
      %li Flawed at Soothing
  %p
    Peaceful:
    %ul
      %li +1 Openness
      %li +1 Stability
      %li Talented at Soothing
      %li Flawed at Running
  %p
    Adventurous:
    %ul
      %li +1 Athleticism
      %li +1 Coordination
      %li Talented at Leaping
      %li Flawed at Regulating
  %p
    Tragic:
    %ul
      %li +1 Coordination
      %li +1 Drive
      %li Talented at Sneaking
      %li Flawed at Pleasing
  = f.label :backstory_description, "Backstory Description"
  = f.text_area :backstory_description, class: "form-control"

  %h4 Traits
  = f.label :likes
  = f.text_area :likes, class: "form-control"

  = f.label :dislikes
  = f.text_area :dislikes, class: "form-control"

  = f.label :hobby_type, "Hobby", class: "dropdown"
  = f.select :hobby_type, ["Art", "Competition", "Performance", "Research", "Socialization"], class: "form-control"
  %p
    Art:
    %ul
      %li Talented at Creating
  %p
    Competition:
    %ul
      %li Talented at Running
  %p
    Performance:
    %ul
      %li Talented at Impressing
  %p
    Research:
    %ul
      %li Talented at Deciphering
  %p
    Socialization:
    %ul
      %li Talented at Pleasing
  = f.label :hobby_description, "Hobby Description"
  = f.text_area :hobby_description, class: "form-control"

  = f.label :habit_type, "Habit", class: "dropdown"
  = f.select :habbit_type, ["Envy", "Gluttony", "Greed", "Pride", "Sloth", "Wrath"], class: "form-control"
  %p
    Envy:
    %ul
      %li -1 Drive
  %p
    Gluttony:
    %ul
      %li -1 Athleticism
  %p
    Greed:
    %ul
      %li -1 Sociability
  %p
    Pride:
    %ul
      %li -1 Openness
  %p
    Sloth:
    %ul
      %li -1 Coordination
  %p
    Wrath:
    %ul
      %li -1 Stability
  = f.label :habit_description, "Habit Description"
  = f.text_area :habit_description, class: "form-control"

  = f.label :fear_type, "Fear", class: "dropdown"
  = f.select :fear_type, ["Death", "Helplessness", "Isolation", "Pain"], class: "form-control"
  %p
    Death:
    %ul
      %li Flawed at Balancing
  %p
    Helplessness:
    %ul
      %li Flawed at Diagnosing
  %p
    Isolation:
    %ul
      %li Flawed at Leading
  %p
    Pain:
    %ul
      %li Flawed at Enduring
  = f.label :fear_description, "Fear Description"
  = f.text_area :fear_description, class: "form-control"

  = f.label :quirk_type, "Quirk", class: "dropdown"
  = f.select :quirk_type, ["Bold", "Nervous", "Loud", "Quiet", "Excitable", "Detached"], class: "form-control"
  %br
  = f.label :quirk_description, "Quirk Description"
  = f.text_area :quirk_description, class: "form-control"

  %h4 Base Stats
  = f.label :base_athleticism, "Athleticism"
  = f.number_field :base_athleticism, class: "form-control"

  = f.label :base_coordination, "Coordination"
  = f.number_field :base_coordination, class: "form-control"

  = f.label :base_drive, "Drive"
  = f.number_field :base_drive, class: "form-control"

  = f.label :base_knowledge, "Knowledge"
  = f.number_field :base_knowledge, class: "form-control"

  = f.label :base_openness, "Openness"
  = f.number_field :base_openness, class: "form-control"

  = f.label :base_sociability, "Sociability"
  = f.number_field :base_sociability, class: "form-control"

  = f.label :base_stability, "Stability"
  = f.number_field :base_stability, class: "form-control"

  %h4 Base Moves
  %h5 Athleticism
  = f.label :base_destroy, "Destroy"
  = f.number_field :base_destroy, class: "form-control"

  = f.label :base_grip, "Grip"
  = f.number_field :base_grip, class: "form-control"

  = f.label :base_leap, "Leap"
  = f.number_field :base_leap, class: "form-control"

  = f.label :base_run, "Run"
  = f.number_field :base_run, class: "form-control"

  = f.label :base_throw, "Throw"
  = f.number_field :base_throw, class: "form-control"

  %h5 Coordination
  = f.label :base_balance, "Balance"
  = f.number_field :base_balance, class: "form-control"

  = f.label :base_evade, "Evade"
  = f.number_field :base_evade, class: "form-control"

  = f.label :base_maneuver, "Maneuver"
  = f.number_field :base_maneuver, class: "form-control"

  = f.label :base_sneak, "Sneak"
  = f.number_field :base_sneak, class: "form-control"

  %h5 Drive
  = f.label :base_create, "Create"
  = f.number_field :base_create, class: "form-control"

  = f.label :base_endure, "Endure"
  = f.number_field :base_endure, class: "form-control"

  = f.label :base_regulate, "Regulate"
  = f.number_field :base_regulate, class: "form-control"

  %h5 Knowledge
  = f.label :base_debate, "Debate"
  = f.number_field :base_debate, class: "form-control"

  = f.label :base_decipher, "Decipher"
  = f.number_field :base_decipher, class: "form-control"

  = f.label :base_diagnose, "Diagnose"
  = f.number_field :base_diagnose, class: "form-control"

  = f.label :base_infer, "Infer"
  = f.number_field :base_infer, class: "form-control"

  = f.label :base_recall, "Recall"
  = f.number_field :base_recall, class: "form-control"

  %h5 Openness
  = f.label :base_improvise, "Improvise"
  = f.number_field :base_improvise, class: "form-control"

  = f.label :base_notice, "Notice"
  = f.number_field :base_notice, class: "form-control"

  %h5 Sociability
  = f.label :base_impress, "Impress"
  = f.number_field :base_impress, class: "form-control"

  = f.label :base_lead, "Lead"
  = f.number_field :base_lead, class: "form-control"

  = f.label :base_lie, "Lie"
  = f.number_field :base_lie, class: "form-control"

  = f.label :base_please, "Please"
  = f.number_field :base_please, class: "form-control"

  %h5 Stability
  = f.label :base_empathize, "Empathize"
  = f.number_field :base_empathize, class: "form-control"

  = f.label :base_soothe, "Soothe"
  = f.number_field :base_soothe, class: "form-control"

  %h4
    = f.label :base_specialties, "Base Specialties"
  = f.text_area :base_specialties, class: "form-control"


  = f.submit class: "btn btn-primary submit-button"
