.row
  .col-lg-6
    - if @character.image_url && @character.image_url != ""
      = image_tag @character.image_url, class: "profile-img"
    - else
      = image_tag "profile.jpg", class: "profile-img"
    .text-beside-img
      %h1
        = @character.name
        - if @character.name == ""
          Nameless Character
        - if @character.allegiance != ""
          of
        = @character.allegiance
      %h3
        Level
        = @character.level
        = @character.class_option
      %strong
        = @character.current_health
        - unless @character.current_health
          = @smart_stats[:total_health]
        \/
        = @smart_stats[:total_health]
        Health

  .col-lg-2
    %ul
      %li
        %strong Age:
        = @character.age
      %li
        %strong Sex:
        = @character.sex
      %li
        %strong Height:
        = @character.height
      %li
        %strong Weight:
        = @character.weight
      %li
        %strong Body Type:
        = @character.body_type
      %li
        %strong Skin:
        = @character.skin

  .col-lg-4
    %ul
      %li
        %strong Race and Ethnicity:
        = @character.race_ethnicity
      %li
        %strong Eyes:
        = @character.eyes
      %li
        %strong Hair:
        = @character.hair
      %li
        %strong Distinguishing Features:
        = @character.distinguishing_features
      %li
        %strong Typical Outfit:
        = @character.outfit
      %li
        %strong Generally Carries:
        = @character.carries

.row
  .col-lg-12
    .btn-group.margin-top-bottom
      = link_to "Back", characters_path, class: "btn btn-secondary"
      = link_to "Edit", edit_character_path(@character), class: "btn btn-primary"
      = link_to "Delete", @character, method: :delete, data: {confirm: "All deletions are permanent. Are you sure?"}, class: "btn btn-danger"

#personal-core
  .row
    .col-md-6
      %h4 Lifestyle
      %ul
        %li
          %strong Species:
          = @character.species
        %li
          %strong Family:
          = @character.family_type
          - if @character.family_description != ""
            \-
          = @character.family_description
        %li
          %strong Occupation:
          = @character.occupation_type
          - if @character.occupation_description != ""
            \-
          = @character.occupation_description
        %li
          %strong Backstory:
          = @character.backstory_type
          - if @character.backstory_description != ""
            \-
          = @character.backstory_description

    .col-md-6
      %h4 Traits
      %ul
        %li
          %strong Likes:
          = @character.likes
        %li
          %strong Dislikes:
          = @character.dislikes
        %li
          %strong Hobby:
          = @character.hobby_type
          - if @character.hobby_description != ""
            \-
          = @character.hobby_description
        %li
          %strong Habit:
          = @character.habit_type
          - if @character.habit_description != ""
            \-
          = @character.habit_description
        %li
          %strong Fear:
          = @character.fear_type
          - if @character.fear_description != ""
            \-
          = @character.fear_description
        %li
          %strong Quirk:
          = @character.quirk_type
          - if @character.quirk_description != ""
            \-
          = @character.quirk_description

#build
  .row
    .col-md-3
      %h4 Stats
      %ul
        %li
          %strong Athleticism:
          = @smart_stats[:athleticism]
        %li
          %strong Coordination:
          = @smart_stats[:coordination]
        %li
          %strong Drive:
          = @smart_stats[:drive]
        %li
          %strong Knowledge:
          = @smart_stats[:knowledge]
        %li
          %strong Openness:
          = @smart_stats[:openness]
        %li
          %strong Sociability:
          = @smart_stats[:sociability]
        %li
          %strong Stability:
          = @smart_stats[:stability]

    .col-md-9
      %h4 Specialties
      = @smart_stats[:specialties]

  %h4 Moves
  .row
    .col-md-3
      %h5 Athleticism
      %ul
        %li
          %strong Destroy:
          = @smart_stats[:destroy]
        %li
          %strong Grip:
          = @smart_stats[:grip]
        %li
          %strong Leap:
          = @smart_stats[:leap]
        %li
          %strong Run:
          = @smart_stats[:run]
        %li
          %strong Throw:
          = @smart_stats[:throw]

    .col-md-3
      %h5 Coordination
      %ul
        %li
          %strong Balance:
          = @smart_stats[:balance]
        %li
          %strong Evade:
          = @smart_stats[:evade]
        %li
          %strong Maneuver:
          = @smart_stats[:maneuver]
        %li
          %strong Sneak:
          = @smart_stats[:sneak]

    .col-md-3
      %h5 Drive
      %ul
        %li
          %strong Create:
          = @smart_stats[:create]
        %li
          %strong Endure:
          = @smart_stats[:endure]
        %li
          %strong Regulate:
          = @smart_stats[:regulate]

    .col-md-3
      %h5 Knowledge
      %ul
        %li
          %strong Debate:
          = @smart_stats[:debate]
        %li
          %strong Decipher:
          = @smart_stats[:decipher]
        %li
          %strong Diagnose:
          = @smart_stats[:diagnose]
        %li
          %strong Infer:
          = @smart_stats[:infer]
        %li
          %strong Recall:
          = @smart_stats[:recall]

  .row
    .col-md-3
      %h5 Openness
      %ul
        %li
          %strong Improvise:
          = @smart_stats[:improvise]
        %li
          %strong Notice:
          = @smart_stats[:notice]

    .col-md-3
      %h5 Sociability
      %ul
        %li
          %strong Impress:
          = @smart_stats[:impress]
        %li
          %strong Lead:
          = @smart_stats[:lead]
        %li
          %strong Lie:
          = @smart_stats[:lie]
        %li
          %strong Please:
          = @smart_stats[:please]

    .col-md-3
      %h5 Stability
      %ul
        %li
          %strong Empathize:
          = @smart_stats[:empathize]
        %li
          %strong Soothe:
          = @smart_stats[:soothe]

  %h4 Inventory
  .row
    .col-md-12.margin-bottom
      = @character.inventory

.row
  .col-md-12
    .btn-group
      = link_to "Back", characters_path, class: "btn btn-secondary"
      = link_to "Edit", edit_character_path(@character), class: "btn btn-primary"
      = link_to "Delete", @character, method: :delete, data: {confirm: "All deletions are permanent. Are you sure?"}, class: "btn btn-danger"
